.App {
  background-color: hsl(115, 50%, 50%);
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main-frame {
  background-color: white;
  width: 30vw;
  height: 60vh;
  position: relative;
  // max-width: 600px;
  // min-width: 300px;
  right: 30%;
  border-radius: 10px;
}
.board {
  position: absolute;
  top: calc(3em + 1vh + 1vw);
  left: 0;
  right: 0;
  width: auto;
  height: 50vh;
  // object-fit: contain;
}
.tile {
  border-radius: 5px;
  position: relative;
  width: calc(3em + 2vw + 2vh);
  height: calc(3em + 2vw + 2vh);
  text-align: center;
  line-height: 50%;
  // margin-bottom: 10vh;
}
.game-title {
  font-family: "Anton", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #dddddd;
  padding: 5px;
  font-size: calc(1em + 1vh + 1vw);
  white-space: nowrap;
}

.start-screen {
  position: relative;
  margin-bottom: 20px;
  background-color: #ffffff;
  height: 75%;
  width: 100%;
  bottom: 10%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-button {
  font-size: 3em;
}

.reset-screen {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: #dddddd;
  height: 80%;
  bottom: 5%;
  padding: 1em;
  font-size: 2em;
}
.play-again-button {
  margin-top: 2em;
}

.fas {
  font-size: calc(1.2em + 2vh + 2vw);
  position: relative;
  margin-right: 0.2em;
}

// .row {
//   // margin-bottom: 20px;
//   // margin-top: 20px;
// }
