.App {
  background-color: hsl(180, 50%, 50%);
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main-frame {
  background-color: white;
  height: auto;
  width: 80vh;
  position: relative;
  max-width: 400px;
  min-width: 200px;
  right: 20%;
  border-radius: 10px;
}
.game-title {
  font-family: "Anton", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #dddddd;
  padding: 5px;
}
.board {
  position: relative;  
  // background-color: black;
  margin-bottom: 20px;
}
.tile {
  padding: 50% 50%;
  border-radius: 5px;
  position: relative;
}
.option-bar {
  position: absolute;
  background-color: #eeeeee;
  bottom: -40px;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.fas{
  font-size: 3.5em;
  position: absolute;
  // right: 0.15em;
  // bottom: 0.15em;
  left: 0; 
  right: 0; 
  top: 8%;
  bottom: 0;
  margin: auto; 
}

.row{
  margin-bottom:30px;
}